body {
    background-color: rgb(25, 25, 25);
    font-family: Arial, sans-serif;
}

.cajaComentarios {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.comentarios {
    margin-top: 20px;
}

li {
    background-color: antiquewhite;
    padding: 10px;
    list-style: none;
    border: 1px solid lightgrey;
    margin-bottom: 10px;
}

li:hover {
    background-color: #f5f5f5;
}